// float
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

$lines: 2, 3, 4, 5;

.text-ellipsis { @include text-truncate; }
@each $line in $lines {
  .text-ellipsis-#{$line} {
    @include ellipsis($line);
  }
}

.operator-svg .svg-icon {
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}
